* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  /* background-image: url(public/emissionbg.jpg); */
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
/* Navbar styles */
.navbar {
  background-color: #7eb53e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo img {
  height: 70px;
  filter: invert();
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffcc00;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}
.bg {
  height: 89vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(100px); */
}

.container {
  backdrop-filter: blur(80px);
  border: 2px solid black;
  max-width: 700px;
  max-height: 900px;
  margin: 10px auto;
  padding: 10px 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

p {
  text-align: center;
  font-size: 15px;
}

h2,
h3 {
  color: #333;
  text-align: center;
}

h2 {
  margin-bottom: 5px;
  font-size: 18px;
  color: black;
  text-decoration: underline;
}

h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

/* Form Styles */
form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 6px 0;
  font-size: 14px;
}

input[type="number"],
select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

input[type="number"]:focus,
select:focus {
  border-color: #007bff;
  outline: none;
}

input[type="submit"] {
  padding: 15px;
  background-color: #7eb53e;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  transition: background-color 0.3s ease-in-out;
}

input[type="submit"]:hover {
  background-color: #639330;
}

/* Results Section */
#results {
  margin-top: 30px;
  text-align: center;
  font-size: 18px;
}

#total-emissions,
#per-capita-emissions {
  font-weight: bold;
  color: #d9534f;
}

/* Responsive Design */
@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  input[type="number"],
  select {
    font-size: 14px;
  }

  input[type="submit"] {
    font-size: 14px;
    padding: 10px;
  }
}
