/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #7eb53e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar .logo {
  height: 80px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar .logo img {
  height: px;
  filter: invert();
}

.nav-links {
  list-style: none;
  display: flex;
  margin-right: 40px;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ffcc00;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}
.container {
  height: 1000px;
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: black;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    padding: 15px 0;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
    text-align: center;
  }

  .mobile-menu-icon {
    display: block;
  }
}
